.formulaire{
    float: left;
}

.image{
    float: right;
}   

.accueil {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
}

/* Styles pour la navigation */
nav {
    float: left;
    height: 100%;
    width: 10em;
    background-color: #056FC7;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

/* Styles pour la liste de menu */
ul.menu {
    margin-right: 1.5em;
    margin-left: auto;
    list-style-type: none;
    text-align: center;
}

/* Styles pour la photo de l'élève */
div.photo_eleve {
    width: 6em;
    height: 4em;
    margin-bottom: 2em;
    border-radius: 1.2em;
    background-color: white;
}

/* Styles pour les éléments de la liste */
ul.menu li {
    margin-bottom: 1em;
    background-color: white;
    padding: auto;
    border-radius: 1em;
    height: 1.5em;
}

/* Premier élément "Accueil" avec marge supplémentaire en haut */
ul.menu li:first-child {
    margin-top: 3em;
}

/* Styles pour les liens à l'intérieur des li */
ul.menu li a {
    color: black;
    text-decoration: none;
    padding-top: 1em;
}

/* Styles pour les liens flottants à droite (Se déconnecter / Modifier le compte) */
a {
    float: right;
    margin-right: 2em;
    color: white;
    background-color: #056FC7;
    text-decoration: none;
    padding: 0.3em;
    border-radius: 5em;
}
